$colors: (
  "primary": #1f95a2,
  "secondary": #ada936,
  "white": #ffffff,
  "black": black,
  "hover": rgba(1, 52, 76, 0.963),
  "lightestGray": #dddddd,
  "lightGray": #ada6a6,
  "gray": gray,
  "coral-blue": #065267,
  "light-blue": #1c7e98,

  "green": rgb(1, 39, 1),
);

$opacity: (
  "01": 0.1,
  "02": 0.2,
  "03": 0.3,
  "04": 0.4,
  "05": 0.5,
  "06": 0.6,
  "07": 0.7,
  "08": 0.8,
  "09": 0.9,
);

$break-points: (
  xs: 350px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
) !default;

$font-sizes: (
  "xs": (
    "default": 10px,
    "xxl": "previous",
    "xl": "previous",
    "lg": "previous",
    "md": "previous",
    "sm": "previous",
    "xs": "previous",
  ),
  "sm": (
    "default": 16px,
    "xxl": "previous",
    "xl": "previous",
    "lg": "previous",
    "md": 14px,
    "sm": 12px,
    "xs": "previous",
  ),
  "md": (
    "default": 18px,
    "xxl": "previous",
    "xl": "previous",
    "lg": 17px,
    "md": "previous",
    "sm": "previous",
    "xs": 15px,
  ),
  "lg": (
    "default": 28px,
    "xxl": 24px,
    "xl": 20px,
    "lg": 18px,
    "md": 16px,
    "sm": 14px,
    "xs": "previous",
  ),
  "xl": (
    "default": 35px,
    "xxl": "previous",
    "xl": "previous",
    "lg": "previous",
    "md": "previous",
    "sm": "previous",
    "xs": "previous",
  ),
  "xxl": (
    "default": 50px,
    "xxl": 60px,
    "xl": 50px,
    "lg": 40px,
    "md": 35px,
    "sm": 30px,
    "xs": 25px,
  ),
);

$spacings: (
  "xs": (
    "default": 12px,
    "xxl": "previous",
    "xl": "previous",
    "md": "previous",
    "sm": "previous",
    "lg": "previous",
    "xs": "previous",
  ),
  "sm": (
    "default": 15px,
    "xxl": "previous",
    "xl": "previous",
    "lg": "previous",
    "md": "previous",
    "sm": "previous",
    "xs": "previous",
  ),
  "md": (
    "default": 23px,
    "xxl": "previous",
    "xl": 22px,
    "lg": 20px,
    "md": "previous",
    "sm": "previous",
    "xs": 15px,
  ),
  "lg": (
    "default": 28px,
    "xxl": 24px,
    "xl": 20px,
    "lg": 18px,
    "md": 16px,
    "sm": 14px,
    "xs": "previous",
  ),
  "xl": (
    "default": 35px,
    "xxl": "previous",
    "xl": "previous",
    "lg": "previous",
    "md": "previous",
    "sm": "previous",
    "xs": "previous",
  ),
  "xxl": (
    "default": 50px,
    "xxl": 50px,
    "xl": 45px,
    "lg": 40px,
    "md": 35px,
    "sm": 30px,
    "xs": 25px,
  ),
);
